@font-face {
    font-family: 'AvantGardeCTTRegular';
    src: url('/images/avantgardectt_regular-webfont.eot');
    src: url('/images/avantgardectt_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/images/avantgardectt_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body, html{
    font-family: 'AvantGardeCTTRegular';
    margin:0;
    padding:0;
    font-size: 18px; 
    line-height: 1.5em;
    color: #000;
    position: relative;
    background: #fff url("/images/bg2.jpg") top left;
    text-align: center;
}
.grey{
    color: #777;
}
.small{
    font-size: 12px; font-weight: normal;
}
input{
    font-family: 'AvantGardeCTTRegular';
    text-align: center;
    font-size: 18px;
    padding: 5px 10px;
    line-height: 1em;
}



#expedition{ 
    width: 1200px;
    height: 60px;
    display: inline-block;
    padding: 15px 0 0 0;
    margin: 0;
    line-height: 1em;
    vertical-align: top;
}
#last_qso{ 
    width: 300px;
    font-size: 16px;
    background-color: #fff;
    display: inline-block;
    float: right;
    margin: 0;
    padding: 5px 0px;
    border: 1px solid #aaa;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    vertical-align: top;
    line-height: 1.1em;
    font-weight: bold;
}
#status{ 
    width: 110px;
    background-color: #fff;
    display: inline-block;
    float: left;
    margin: 0;
    padding: 5px 5px;
    border: 1px solid #aaa;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}






#tabs{
    width: 1202px;
    margin: 30px auto 0px auto;
    padding: 0 10px;
    background: url("/images/bbb.png") bottom left repeat-x;
    text-align: left;
}

.tab{
    display: inline-block;   
    padding: 5px 20px 5px 20px;
    font-size: 14px;
    text-align: center;
    line-height: 1em;
    background: #f5f5f5  url("/images/rda_tab_bg.jpg") bottom left no-repeat;
    border: 1px solid #bbb;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
}
.updated_tab{
    display: inline-block;   
    padding: 5px 30px 5px 20px;
    font-size: 14px;
    text-align: center;
    line-height: 1em;
    background: #f5f5f5  url("/images/rda_tab_bg.jpg") bottom right no-repeat;
    border: 1px solid #bbb;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
}
#tab_donate{
    font-weight: bold;
    color: #900;
}
.active_tab{
    padding: 10px 20px 5px 20px;
    background: #fff;
    border-bottom: 1px solid #fff;
    font-weight: bold;
}








#list{
    width: 1200px;
    padding: 10px;
    margin: 0px auto;
    background-color: #fff;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    margin-bottom: 30px;
}
#list a {
    color: #00c;
}











table#log { 
    border-collapse: collapse; 
    margin: 10px auto;
}
table#log td{ 
    padding: 7px 20px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
    font-size: 14px;
    line-height: 1em;
    color: #333;
}
table#log td.date, table#log td.rst{ 
    
}
table#log td.mycall{ 
    font-weight: bold;
    width: 80px;
    font-size: 16px;
}
table#log td.urcall{ 
    background-color: #f9ffec;
    font-weight: bold;
    width: 100px;
    font-size: 16px;
}
table#log td.head{ 
    background-color: #f5f5f5;
}
table#log tr.new_qso{ 
    background: #fff url("/images/bg_new_qso.gif") top left;
}











#sponsor{ 
    width: 85%;
    margin: 10px auto 0px auto;
    background-color: #fdfbda;  
    border: 1px solid #aaa;
    border-radius: 7px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    font-size: 18px; 
    line-height: 1.5em;
    color: #000;
    text-align: left;
}

#donate iframe{
    margin: 30px 0;
    width: 436px;
}

#ppal{
    width: 300px;
    margin: 0 auto 20px auto;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 7px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    padding: 13px 13px 5px 13px;
}
#ppal form{
    display: inline-block;
    width: 100px;
}












#cluster{
    font-size: 12px;
}
table#cluster { 
    border-collapse: collapse; 
    width: 800px;
    margin: 20px auto 5px auto;    
}
table#cluster td{ 
    padding: 5px;
    font-size: 16px;
    text-align: left;
    vertical-align: middle;
    border: 1px solid #ddd;
    line-height: 1em;
}
table#cluster td.time{ 
    width: 50px;
}
table#cluster td.band{ 
    width: 60px;
}
table#cluster td.mode{ 
    width: 30px;
    font-size: 12px;
    text-align: center;
}
table#cluster td.call{ 
    width: 80px;
    font-weight: bold;
}
table#cluster td.text{ 
    color: #777;
    font-size: 12px;
}
table#cluster td.spotter{ 
    width: 100px;
    color: #777;
    font-size: 12px;
    padding: 5px;
}







#gps_map{ 
    font-size: 14px;
}
#map{ 
    width: 1100px;
    height: 400px;
    padding: 0px;
    margin: 5px auto;
}
yandex-map {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
}


#gps_map iframe{
    margin: 3px 0 50px 0;
}




#news{
    width: 900px;
    margin: 10px auto;
    text-align: left;
}
div.date{ 
    font-weight: bold;
    font-size: 12px;
    background-color: #ddd;
    color: #000;
    padding: 3px;
    line-height: 1em;
    width: 100px;
}
.info{ 
    font-size: 16px;
    background-color: white;
    margin: 0 0 20px 0;
    padding: 10px 20px;
    border: 1px solid #ddd;
    line-height: 1.5em;
}
.info div{
    text-align: center;
}
.info img{ 
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 2px;
}
.red_news{
    color: #900;
    font-weight: bold;
}



















#call_check_form{
    margin: 30px 0;
    text-align: center;
}
#call_check_form input#input_call, #login_form input#input_call{
    font-weight: bold;
    padding: 1px;
}







table#message_form{
    width: 850px;
    padding: 0px;
    margin: 20px auto;
    border: none;
    border-collapse: collapse;
    text-align: center;
}
table#message_form td{
    padding: 0;
    margin: 0;
}
table#message_form td.note{
    font-size: 12px;
    vertical-align: top;
    color: #777;
    line-height: 12px;
}
table#message_form input#your_call{
    width: 150px;
    font-weight: bold;
    font-size: 18px;
    padding: 1px;
    border: 1px solid #999;
}
table#message_form input#message_text{
    width: 550px;
    text-align: left;
    border: 1px solid #999;
}





table#chat_window{
    width: 1100px;
    padding: 0px;
    margin: 20px auto;
    border: 1px solid #ccc;
    font-size: 16px;
    border-collapse: collapse;
}
table#chat_window td{
    padding: 10px 5px;
    text-align: left;
    vertical-align: top;
}
table#chat_window tr{
    border: 1px solid #eee;
}
table#chat_window td.call{
    font-weight: bold;
    width: 150px;
    line-height: 14px;
    color: #009;
}
table#chat_window td.call span.date_time{
    font-size: 12px;
    font-weight: normal;
    color: #777;
}
table#chat_window td.call span.call{
    color: #00A;
}
table#chat_window tr.admin td.call span.call{
    color: #A00;
}
table#chat_window td.message{
    line-height: 1.5em;
    padding-top: 5px;
}


